{:kotoba.app/id "cloud.itonami.isic-852", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid266azvasz3xxwminkqysd7yhijejwfldmjekoqx765a75uodswq", :kotoba.app/embed-url "ipfs://bafkreid266azvasz3xxwminkqysd7yhijejwfldmjekoqx765a75uodswq", :published {:archive "https://kotobase.net/ipfs/bafkreid266azvasz3xxwminkqysd7yhijejwfldmjekoqx765a75uodswq", :size 72724, :put-status 201, :get-status 200, :at "2026-08-15T13:46:06.130Z"}}
